@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin: 0;
}

body{
  overflow-x: hidden;
}

nav{
  background-color: red;
  padding: 10px;
  color: white;
  display: flex;
}

nav h1{
  margin-top: 10px;
}
nav img{
  width: 150px;
  height: 50px;
  border-radius: 10px;
}
nav .search{
  display: flex;
  background-color: white;
  border-radius: 5px;
  color: gray;
  width: 250px;
  height: 20px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 6px;
}

nav .search button{
  background-color: white;
  border: 0;
}

nav .search p{
  margin-left: 5px;
  font-size: 13px;
}
nav .hamburger{
  margin-left: 20px;

}
nav .hamburger{
  display: flex;
}
nav .hamburger .hamburger-icons {
  margin-top: 15px;
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
nav .hamburger .hamburger-icons span{
  width: 40%;
  height: 2px;
  background-color: white;
  
}
nav .hamburger  li{
  list-style-type: none;
  margin-top: 18px;

}


nav .hamburger  li a{
  text-decoration: none;
  color: white;

}
nav .other-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-top: 2px;
}
nav .other-links li{
  list-style-type: none;
  display: flex;
  margin-left: 20px;
}
nav .other-links li a{
  text-decoration: none;
  color: white;
}

nav .notification{
  margin-left: 60px;
  margin-top: 18px;
}

nav .admin{
  display: flex;
}

nav .admin .text{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 12px;
}

nav .admin .text h4{
  margin-left: 55px;
}
nav .admin .text p{
  font-size: 12px;
  margin-left: 30px;
}
nav .admin .image-container img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
}

.mobile-hamburger{
  display: none;
}

.music-mobile-hamburger{
  display: none;
}

@media only screen and (max-width: 600px) {

  .outline .content .left{
    display: flex;
    flex-direction: column;
    top: 68px;
    width: 200px;
    height: 400px;
    background-color: white;
    left: -100%;
    position: fixed;
  
  }


  .music-container .img-container .fa-heart{
    display: none;
  }
  
  .music-container {
    background-color: #ffffff;
    display: flex;
    position: relative;
    margin: 4px 0; 
    width: auto !important;
  }

  .music-container .navigation{
    margin-left: 10px !important;
  }

  .progress-container .timer #durTime{
    margin-left: 120px !important;
    position: fixed;
  }
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 70%;
    display: flex;
    
  }

  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
    width: 170px;
  }
  .music-container .navigation button .fa-backward,.fa-play,.fa-forward,.fa-pause,.fa-redo{
    color: black;
    width:10px !important;
    height: 20px !important;
    
  }

  .music-container .navigation button{
   
    width:10px !important;
    height: 2px !important;
    
  }

  .music-container .navigation #shuffle{
    display: none !important;
  }

  .music-container .navigation #repeat{
    display: none !important;
  }

  .music-container .navigation #play{
    width: 40px !important;
    height: 40px !important;
  }

  .music-container .navigation #prev{
    width: 40px !important;
    height: 40px !important;
  }

  .music-container .navigation #next{
    width: 40px !important;
    height: 40px !important;
  }
  

  .outline .content .middle-content .images .img-container{
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    
  
  }

  .outline .content .middle-content .images .heading{
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: 70px !important;
    width: 200px;
    
  
  }

  .outline .content .middle-content .images .img-container .image1 img{
    width: 220px !important;
    height: 200px !important;
    
  
  }

  .outline .content .middle-content .images .img-container .image2 img{
    width: 220px !important;
    height: 200px !important;
    
  
  }

  .outline .content .middle-content .images .img-container .image2{
    margin-top: 20px !important;
    
  
  }

  .outline .content .middle-content .images .img-container .image3{
    margin-top: 20px !important;
    
  
  }

  .outline .content .middle-content .images .img-container .image3 img{
    width: 220px !important;
    height: 200px !important;
    
  
  }
  
  nav .logo h1{
    font-size: 10px;
   
  }

  nav .logo {
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
   
  }
  

  .outline .content .right .top-content{
    display: none !important;
  }
  .outline .content .left.active{
    left: 0;
  
  }
  .music-mobile-hamburger{
    display: block;
    margin-top: 15px;
    font-size: 18px;
    opacity: 3;
  }

  .music-mobile-hamburger.active{
    opacity: 1;
    cursor: pointer;
  }

  nav img{
    margin-left: 50px;
  }
  nav .other-links{
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: red;
    top: 60px;
    width: 200px;
    height: 200px;
    padding: 20px 10px;
    opacity: 0.6;
    right: -100%;
  }

  nav .other-links.active{
    right: 0;
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    top: 60px;
  }


  .mobile-hamburger {
    display: block;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-left: 250px;
  }

  .mobile-hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .mobile-hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }


  nav .search{
    display: none;
  }

  nav .notification{
    display: none;
  }
  
  nav .search button{
    display: none;
  }
  
  nav .search p{
    display: none;
  }
  nav .hamburger{
    display: none;
  
  }
  nav .hamburger{
    display: none;
  }
  nav .hamburger .hamburger-icons {
    display: none;
  }
  nav .hamburger .hamburger-icons span{
    display: none;
    
  }
  nav .hamburger  li{
    display: none;
  
  }
  
  
  nav .hamburger  li a{
    display: none;
  
  }

  nav .admin{
    display: none;
  }
}

.outline{
  display: flex;
}

.outline .content{
  width: 100%;
  display: flex;
}

.outline .content .left .items .home{
  display: flex;
  margin-left:2px;
  background-color: rgb(245, 179, 155);
  width: 120px;
  padding: 12px 12px;
  border-radius: 5px;
}

.outline .content .left .items .home .fa-home{
  margin-right:10px;
  color: red;
  font-size: 20px;
}

.outline .content .left .items .home a h3{
  color: red;
  font-size: 20px;
  margin-left: 1px;
}

.outline .content .left .items .home a {
  text-decoration: none;
}
.outline .content .left .items .browse{
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
}
.outline .content .left .items .browse a{
  text-decoration: none;
}
.outline .content .left .items .Analytics{
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
}
.outline .content .left .items .Analytics a{
  text-decoration: none;
  
}
.outline .content .left .items .browse .fa-caret-square-down{
  margin-right:10px;
  margin-top: 3px;
  color: gray;
}

.outline .content .left .items .Analytics .fa-heart{
  margin-right:10px;
  margin-top: 3px;
  color: gray;
}

.outline .content .left .items .browse h3{
  color: gray;
  font-weight: 100;
}

.outline .content .left .items .Analytics h3{
  color: gray;
  font-weight: 100;
}


.outline .content .left{
  flex: 2;
  height: 130vh;
  box-shadow: 0 0 3px #999999; 
  padding: 20px;

}

.outline .content .left .items{
 margin-top: 40px; 

}

.outline .content .left .library{
  margin-top: 40px;
  margin-left: 20px;
 
}

.outline .content .left .library h4{
  margin-top: 20px;
  font-size: 18px;
 
}

.outline .content .left .library h6{
  color: gray;
  font-weight: 100;
  font-size: 12px;
 
}

.outline .content .left .playlists .new-playlist{
  display: flex;
  background-color: rgb(241, 229, 229);
  width: 140px;
  margin-left: 8px;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 10px;
}

.outline .content .left .playlists .new-playlist .fa-plus{
  margin-right: 10px;
 
}

.outline .content .left .playlists .new-playlist p{
  margin-right: 10px;
  font-weight: 100;
  font-size: 14px;
 
}

.outline .content .left .playlists h6{
  color: gray;
  font-weight: 100;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 12px;
 
}
.outline .content .right{
  flex: 10;
  background-color: rgb(245, 179, 155);
  width: 700vh;
}

.outline .content .right .top-content{
  display: flex;
}

.outline .content .right .top-content .arrows{
  display: flex;
  background-color: white;
  margin-left: 4vh;
  width: 55px;
  padding: 10px 10px;
  margin-top: 2vh;
  border-radius: 5px;
}

.outline .content .right .top-content .arrows .fa-chevron-right{
  margin-left: 30px;
  font-size: 20px;
  margin-top: 5px;
}

.outline .content .right .top-content .arrows .fa-chevron-left{
  font-size: 20px;
  margin-top: 5px;
}

.outline .content .right .top-content .search{
  display: flex;
  background-color: white;
  margin-left: 28vh;
  width: 370px;
  padding: 10px 10px;
  margin-top: 2vh;
  border-radius: 5px;
}

.outline .content .right .top-content .search p{
  margin-left: 13px;
  color: gray;
  font-size: 20px;
  font-weight: 100;

}

.outline .content .right .top-content .search button{
  margin-left: 5px;
  background-color: white;
  border: 0;
  font-size: 18px;
  margin-top: 3px;
  cursor: pointer;

}

.outline .content .right .top-content .search button .fa-search{
  color: gray;
}



.outline .content .right .top-content .adc-podcast{
  display: flex;
  margin-left: 15vh;
  margin-top: 2vh;
}

.outline .content .right .top-content .adc-podcast .imgcontainer{
  background-color: white;
  border-radius: 50%;
  padding: 1px 3px;
  height: 34px;
  margin-top: 1px;
}

.outline .content .right .top-content .adc-podcast .imgcontainer img{
  width: 30px;
  height: 35px;
}

.outline .content .right .top-content .adc-podcast .text{
  margin-left: 20px;
  margin-top: 11px;
  font-weight: lighter;
  font-size: 17px;
}

.outline .content .right .top-content .adc-podcast .down-arrow button{
  background-color: rgb(245, 179, 155);
  margin-left: 25px;
  border: 0;
  margin-top: 12px;
  cursor: pointer;
}

.outline .content .right .top-content .adc-podcast .down-arrow button .fa-chevron-down{
  font-size: 20px;
}

.outline .content .right .middle-content{
  margin-top: 50px;
  display: flex;



}

.outline .content .right .middle-content .heading{
  margin-left: 25px;
}

.outline .content .right .middle-content .heading h3{
  font-weight: 100;
  font-size: 20px;
}

.outline .content .right .middle-content .images {
  margin-left: 2px;
}

.outline .content .right .middle-content .images .img-container {
  margin-top: 40px;
  display: flex;
}

.outline .content .right .middle-content .images .img-container .image1 img{
  width: 170px;
  height: 170px;
  border-radius: 10px;
  margin-left: 30px;
  
}

.outline .content .right .middle-content .images .img-container .image2 img{
  width: 170px;
  height: 170px;
  border-radius: 10px;
  margin-left: 30px;
  
}

.outline .content .right .middle-content .images .img-container .image3 img{
  width: 170px;
  height: 170px;
  border-radius: 10px;
  margin-left: 30px;
  
}

.outline .content .right .middle-content .images .img-container .image1 p{
  margin-left: 40px;
  
}

.outline .content .right .middle-content .images .img-container .image2 h4{
  margin-left: 50px;
  margin-top: 5px;
  
}

.outline .content .right .middle-content .images .img-container .image2 p{
  margin-left: 50px;
  margin-top: 5px;
  font-weight: 100;
  
}

.outline .content .right .middle-content .images .img-container .image3 h4{
  margin-left: 50px;
  margin-top: 5px;
  
}

.outline .content .right .middle-content .images .img-container .image3 p{
  margin-left: 50px;
  margin-top: 5px;
  font-weight: 100;
  
}

.outline .content .right .middle-content .side{
  background-color: white;
  margin-left: 80vh;
  height: 45vh;
  width: 74vh;
  margin-top: 40px;
  border-radius: 10px;
  padding: 12px 10px;
}
.outline .content .right .middle-content .side .heading{
  display: flex;
  padding: 15px 10px;
}

.outline .content .right .middle-content .side .heading .first{
  margin-left: 30px;
  margin-top: 20px;
  color: gray;
}

.outline .content .right .middle-content .side .heading .second{
  margin-left: 75px;
  margin-top: 20px;
  color: gray;
}

.outline .content .right .middle-content .side .heading .third{
  margin-left: 70px;
  margin-top: 20px;
  color: gray;
}

.outline .content .right .middle-content .side .heading hr{
  color: gray;
}

.outline.content .right .middle-content .side .innercontent{
  display: flex;
  flex-direction: column;
}
.outline .content .right .middle-content .side .innercontent .contents{
  display: flex;
  margin-top: 6px;
  padding: 10px 10px;
}

.outline .content .right .middle-content .side .innercontent .contents2{
  display: flex;
  margin-top: 6px;
  padding: 10px 10px;
}
.outline .content .right .middle-content .side .innercontent .contents2 .content1{
  display: flex;
  margin-top: 6px;
  padding: 10px 10px;
}

.outline .content .right .middle-content .side .innercontent .contents2 .content1 .fa-heart{
  color: green;
  margin-left: 6px;
}

.outline .content .right .middle-content .side .innercontent .contents2 .content1 p{
  margin-left: 12px;
}

.outline .content .right .middle-content .side .innercontent .contents2 .content1 p{
  margin-left: 12px;
}
.outline .content .right .middle-content .side .innercontent .contents2 .content2 {
  margin-left: 45px;
  margin-top: 18px;
}

.outline .content .right .middle-content .side .innercontent .contents2 .content3 {
  margin-left: 50px;
  margin-top: 18px;
}

.outline .content .right .middle-content .side .contents .content1{
  display: flex;
  margin-left: 20px;
  
}

.outline .content .right .middle-content .side .contents .content2{
  margin-left: 55px;
  
}

.outline .content .right .middle-content .side .contents .content3{
  margin-left: 55px;
  
}

.outline .content .right .middle-content .side .contents .content1 .fa-heart{
  color: green;
}

.outline .content .right .middle-content .side .contents .content1 p{
  margin-left: 8px;
}

.outline .content .right .bottom-content{
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  
}



.outline .content .right .bottom-content .top-content h3{
  font-weight: 100;
  margin-left: 19px;
  margin-top: 22px;
}

.outline .content .right .bottom-content .top-content .right{
  float: right;
  display: flex;
  background-color: rgb(245, 179, 155);
  margin-left: 100vh;
}

.outline .content .right .bottom-content .top-content .right button{
  padding-top: 3px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  height: 16px;
  margin-top: 27px;
  background-color: rgb(241, 229, 229);
  border-radius: 10px;
  cursor: pointer;
  

}

.outline .content .right .bottom-content .top-content .right .arrows{
  background-color: rgb(245, 179, 155);
}

.outline .content .right .bottom-content .top-content .right .arrows button{
  display: flex;
  background-color: rgb(245, 179, 155);
  margin-left: 10px;
  margin-top: 2px;
}
.outline .content .right .bottom-content .top-content .right .arrows button .fa-chevron-left{
  color: gray;
  font-size: 15px;
}
.outline .content .right .bottom-content .top-content .right .arrows button .fa-chevron-right{
  font-size: 15px;
  margin-left: 15px;
}

.outline .content .right .bottom-content .last-content .contents-wrapper{
 display: flex; 
}

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
 }
 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1{
  display: flex; 
  flex-direction: column;
  margin-left: 50px;
 }


 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .top-layer{
  display: flex; 
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .top-layer .info{
  display: flex;
  margin-left: 10px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .top-layer .info p{
  margin-left: 10px;
  font-size: 17px;
  margin-top: 15px;
  
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .top-layer .info .speaker button{
  border: 0;
  background-color: rgb(245, 179, 155);
  margin-left: 90px;
  margin-top: 15px;
  
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .top-layer .info .speaker button .fa-volume-down{
  font-size: 19px;
  color: green;
  
 }

 

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .top-layer .info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .images img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .images{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .images .image-info{
  margin-left: 10px;
  margin-top: 20px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .images .image-info h4{
  font-weight: 100;
 }
 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content1 .images .image-info p{
  color: gray;
  font-weight: 100;
 }




 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2{
  display: flex; 
  flex-direction: column;
  margin-left: 30px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .top-layer .info p{
  margin-left: 10px;
  font-size: 17px;
  margin-top: 15px;
}

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .top-layer .info .speaker button{
  border: 0;
  background-color: rgb(245, 179, 155);
  margin-left: 100px;
  margin-top: 15px;
  
 }

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .top-layer .info .speaker button .fa-volume-down{
  font-size: 19px;
  color: green;
  
 }
  
 
 


 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .top-layer{
  display: flex; 
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .top-layer .info{
  display: flex;
  margin-left: 10px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .top-layer .info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .images img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .images{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .images .image-info{
  margin-left: 10px;
  margin-top: 20px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .images .image-info h4{
  font-weight: 100;
 }
 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content2 .images .image-info p{
  color: gray;
  font-weight: 100;
 }

 content three


 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3{
  display: flex; 
  flex-direction: column;
  margin-right: 2px;

 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .top-layer .info p{
  margin-left: 10px;
  font-size: 17px;
  margin-top: 15px;
}

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .top-layer .info .speaker button{
  border: 0;
  background-color: rgb(245, 179, 155);
  margin-left: 100px;
  margin-top: 15px;
  
 }

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .top-layer .info .speaker button .fa-volume-down{
  font-size: 19px;
  color: green;
  
 }
  
 
 


 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .top-layer{
  display: flex; 
  margin-left: 30px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .top-layer .info{
  display: flex;
  margin-left: 10px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .top-layer .info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .images img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .images{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 30px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .images .image-info{
  margin-left: 10px;
  margin-top: 20px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .images .image-info h4{
  font-weight: 100;
 }
 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content3 .images .image-info p{
  color: gray;
  font-weight: 100;
 }

 content four

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4{
  display: flex; 
  flex-direction: column;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .top-layer .info p{
  margin-left: 10px;
  font-size: 17px;
  margin-top: 15px;
}

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .top-layer .info .speaker button{
  border: 0;
  background-color: rgb(245, 179, 155);
  margin-left: 90px;
  margin-top: 15px;
  
 }

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .top-layer .info .speaker button .fa-volume-down{
  font-size: 19px;
  color: green;
  
 }
  
 
 

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4.top-layer .info .speaker button{
  border: 0;
  background-color: rgb(245, 179, 155);
  margin-left: 90px;
  margin-top: 15px;
  
 }

.outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .top-layer .info .speaker button .fa-volume-down{
  font-size: 19px;
  color: green;
  
 }
  
 
 


 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .top-layer{
  display: flex; 
  margin-left: 30px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .top-layer .info{
  display: flex;
  margin-left: 10px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .top-layer .info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .images img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .images{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 40px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .images .image-info{
  margin-left: 10px;
  margin-top: 20px;
 }

 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .images .image-info h4{
  font-weight: 100;
 }
 .outline .content .right .bottom-content .last-content .contents-wrapper .inner-content .content4 .images .image-info p{
  color: gray;
  font-weight: 100;
 }





.music-container .side{
  float: right;
  margin-left: 120px;
  margin-top: 30px
}

.music-container .img-container .fa-heart{
  color: green;
  margin-left: 20px;
  font-size: 40px;
  margin-top: 30px;
}

.music-container .img-container{
  display: flex;
}
.music-container .side span{
  margin-left: 4vh;
}


.music-container .navigation button .fa-backward,.fa-play,.fa-forward,.fa-pause,.fa-redo{
  color: black;
}

.music-container .navigation button .fa-random{
  color: green;
}
.music-container .navigation{
  margin-left: 60vh;
}
.music-container {
  background-color: white;
  display: flex;
  position: relative;
  margin: 4px 0; 
}

.img-container {
  width: 110px;
}


.img-container img {
  object-fit: cover;
  height: 80px;
  width: 80px;
  opacity: 3;
}

.music-container.play .img-container img {
  opacity: 1;
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 70%;
  display: flex;
  
}

.progress-container .timer{
  margin-top: 7px;
  display: flex;
  position: fixed;
}

.progress-container .timer #durTime{
  margin-left: 150vh;
  position: fixed;
}



.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}