@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin: 0;
}

body{
  overflow-x: hidden;
}

.outline{
  display: flex;
}

.outline .content{
  width: 100%;
  display: flex;
}

.outline .content .left .items .home{
  display: flex;
  margin-left:2px;
  background-color: rgb(245, 179, 155);
  width: 150px;
  padding: 12px 12px;
  border-radius: 5px;
}

.outline .content .left .items .home .fa-home{
  margin-right:10px;
  color: red;
  font-size: 20px;
}

.outline .content .left .items .home h3{
  color: red;
  font-size: 20px;
  margin-left: 1px;
}

.outline .content .left .items .browse{
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
}

.outline .content .left .items .Analytics{
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
}
.outline .content .left .items .browse .fa-caret-square-down{
  margin-right:10px;
  margin-top: 3px;
  color: gray;
}

.outline .content .left .items .Analytics .fa-heart{
  margin-right:10px;
  margin-top: 3px;
  color: gray;
}

.outline .content .left .items .browse h3{
  color: gray;
  font-weight: 100;
}

.outline .content .left .items .Analytics h3{
  color: gray;
  font-weight: 100;
}


.outline .content .left{
  flex: 2;
  height: 100vh;
  box-shadow: 0 0 3px #999999; 

}

.outline .content .left .items{
 margin-top: 40px; 

}

.outline .content .left .library{
  margin-top: 40px;
  margin-left: 20px;
 
}

.outline .content .left .library h4{
  margin-top: 20px;
  font-size: 18px;
 
}

.outline .content .left .library h6{
  color: gray;
  font-weight: 100;
  font-size: 12px;
 
}

.outline .content .left .playlists .new-playlist{
  display: flex;
  background-color: rgb(241, 229, 229);
  width: 150px;
  margin-left: 12px;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 10px;
}

.outline .content .left .playlists .new-playlist .fa-plus{
  margin-right: 10px;
 
}

.outline .content .left .playlists .new-playlist p{
  margin-right: 10px;
  font-weight: 100;
 
}

.outline .content .left .playlists h6{
  color: gray;
  font-weight: 100;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 12px;
 
}
.outline .content .right{
  flex: 10;
  background-color: rgb(245, 179, 155);
  width: 700vh;
}

.outline .content .right .top-content{
  display: flex;
}

.outline .content .right .top-content .arrows{
  display: flex;
  background-color: white;
  margin-left: 4vh;
  width: 55px;
  padding: 10px 10px;
  margin-top: 2vh;
  border-radius: 5px;
}

.outline .content .right .top-content .arrows .fa-chevron-right{
  margin-left: 30px;
  font-size: 20px;
  margin-top: 5px;
}

.outline .content .right .top-content .arrows .fa-chevron-left{
  font-size: 20px;
  margin-top: 5px;
}

.outline .content .right .top-content .search{
  display: flex;
  background-color: white;
  margin-left: 28vh;
  width: 370px;
  padding: 10px 10px;
  margin-top: 2vh;
  border-radius: 5px;
}

.outline .content .right .top-content .search p{
  margin-left: 13px;
  color: gray;
  font-size: 20px;
  font-weight: 100;

}

.outline .content .right .top-content .search button{
  margin-left: 5px;
  background-color: white;
  border: 0;
  font-size: 18px;
  margin-top: 3px;
  cursor: pointer;

}

.outline .content .right .top-content .search button .fa-search{
  color: gray;
}



.outline .content .right .top-content .adc-podcast{
  display: flex;
  margin-left: 15vh;
  margin-top: 2vh;
}

.outline .content .right .top-content .adc-podcast .imgcontainer{
  background-color: white;
  border-radius: 50%;
  padding: 1px 3px;
  height: 34px;
  margin-top: 1px;
}

.outline .content .right .top-content .adc-podcast .imgcontainer img{
  width: 30px;
  height: 35px;
}

.outline .content .right .top-content .adc-podcast .text{
  margin-left: 20px;
  margin-top: 11px;
  font-weight: lighter;
  font-size: 17px;
}

.outline .content .right .top-content .adc-podcast .down-arrow button{
  background-color: rgb(245, 179, 155);
  margin-left: 25px;
  border: 0;
  margin-top: 12px;
  cursor: pointer;
}

.outline .content .right .top-content .adc-podcast .down-arrow button .fa-chevron-down{
  font-size: 20px;
}

.outline .content .right .middle-content{
  margin-top: 50px;
  display: flex;



}

.outline .content .right .middle-content .heading{
  margin-left: 25px;
}

.outline .content .right .middle-content .heading h3{
  font-weight: 100;
}

.outline .content .right .middle-content .images {
  margin-left: 2px;
}

.outline .content .right .middle-content .images .img-container {
  margin-top: 40px;
  display: flex;
}

.outline .content .right .middle-content .images .img-container .image1 img{
  width: 170px;
  height: 170px;
  border-radius: 10px;
  margin-left: 30px;
  
}

.outline .content .right .middle-content .images .img-container .image2 img{
  width: 170px;
  height: 170px;
  border-radius: 10px;
  margin-left: 30px;
  
}

.outline .content .right .middle-content .images .img-container .image3 img{
  width: 170px;
  height: 170px;
  border-radius: 10px;
  margin-left: 30px;
  
}

.outline .content .right .middle-content .images .img-container .image1 p{
  margin-left: 40px;
  
}

.outline .content .right .middle-content .images .img-container .image2 h4{
  margin-left: 50px;
  margin-top: 5px;
  
}

.outline .content .right .middle-content .images .img-container .image2 p{
  margin-left: 50px;
  margin-top: 5px;
  font-weight: 100;
  
}

.outline .content .right .middle-content .images .img-container .image3 h4{
  margin-left: 50px;
  margin-top: 5px;
  
}

.outline .content .right .middle-content .images .img-container .image3 p{
  margin-left: 50px;
  margin-top: 5px;
  font-weight: 100;
  
}

.outline .content .right .middle-content .side{
  background-color: white;
  margin-left: 80vh;
  height: 40vh;
  width: 74vh;
  margin-top: 40px;
  border-radius: 10px;
  padding: 12px 10px;
  


}
.outline .content .right .middle-content .side .heading{
  display: flex;
  padding: 15px 10px;
}

.outline .content .right .middle-content .side .heading .first{
  margin-left: 30px;
  margin-top: 20px;
  color: gray;
}

.outline .content .right .middle-content .side .heading .second{
  margin-left: 75px;
  margin-top: 20px;
  color: gray;
}

.outline .content .right .middle-content .side .heading .third{
  margin-left: 70px;
  margin-top: 20px;
  color: gray;
}

.outline .content .right .middle-content .side .heading hr{
  color: gray;

}

.outline .content .right .middle-content .side .contents{
  display: flex;
  margin-top: 6px;
  padding: 10px 10px;
}
.outline .content .right .middle-content .side .contents .content1{
  display: flex;
  margin-left: 20px;
  
}

.outline .content .right .middle-content .side .contents .content2{
  margin-left: 55px;
  
}

.outline .content .right .middle-content .side .contents .content3{
  margin-left: 55px;
  
}

.outline .content .right .middle-content .side .contents .content1 .fa-heart{
  color: green;
}

.outline .content .right .middle-content .side .contents .content1 p{
  margin-left: 8px;
}
.music-container .side{
  float: right;
  margin-left: 120px;
  margin-top: 30px
}

.music-container .img-container .fa-heart{
  color: green;
  margin-left: 20px;
  font-size: 40px;
  margin-top: 30px;
}

.music-container .img-container{
  display: flex;
}
.music-container .side span{
  margin-left: 4vh;
}


.music-container .navigation button .fa-backward,.fa-play,.fa-forward,.fa-pause,.fa-redo{
  color: black;
}

.music-container .navigation button .fa-random{
  color: green;
}
.music-container .navigation{
  margin-left: 60vh;
}
.music-container {
  background-color: white;
  display: flex;
  position: relative;
  margin: 4px 0;
  
  
}

.img-container {
  width: 110px;
}


.img-container img {
  object-fit: cover;
  height: 80px;
  width: 80px;
  opacity: 3;
}

.music-container.play .img-container img {
  opacity: 1;

}


.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}